.form {
  display: flex;
  border-top: 2px solid #D3D3D3;
}

.input {
  border: none;
  border-radius: 0;
  padding: 5%;
  width: 80%;
  font-size: 1.2em;
}

input:focus, textarea:focus, select:focus{
  outline: none;
}

.sendButton {
  color: #fff !important;
  text-transform: uppercase;
  text-decoration: none;
  background: #2979FF;
  padding: 20px;
  display: inline-block;
  border: none;
  width: 20%;
}

.emojiTab {
  position: absolute;
  top: 16%;
  left: 30%;
}

@media (min-width: 320px) and (max-width: 900px) {
  .emojiTab {
    position: absolute;
    top:27%;
    left: 9.5%;
  } 
  .input {
    padding:0;
  }
}

@media (min-width: 900px) and (max-width: 1200px) {
  .emojiTab {
    position: absolute;
    top: 16%;
    left: 30%;
  }
}
@media (min-width: 1200px){
  .emojiTab {
    position: absolute;
    top: 16%;
    left: 23%;
  }
}

.none {
  display: none;
}