html, body {
    font-family: 'Roboto', sans-serif;
    padding: 0;
    margin: 0;
  }
  
  * {
    box-sizing: border-box;
  }

  .header{
    position: absolute;
    top: 10%;
    left: 30%;
  }
  
  .homeOuterContainer {
display: flex;
text-align: center;
height: 100vh;
align-items: center;
flex-direction: column;
color: #FFFFFF;

text-shadow: 4px 3px 0px #202020;
justify-content: space-between;
background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url(../../pics/pink.jpg);
  }
  
  .homeInnerContainer {
    width: 70%;
    height: 70%;
    padding-left: 30%;
    padding-top: 7%;
    line-height: 1.5;
  }

  .go{
    height:70%;
    width:70%;
    
  }

  span.tick{
    color: #39c044;
  }



.chat{
  border-radius: 4px;  
  color: #fff;
  cursor: pointer;
  padding: 8px 16px;
  width: 50%;
  background-color: rgb(27, 77, 187);
  text-shadow: 1px 2px 1px #202020;
}

.chat:hover{
  
    background-image:     linear-gradient(
       to right, 
       #E7484F,
       #E7484F 16.65%,
       #F68B1D 16.65%,
       #F68B1D 33.3%,
       #FCED00 33.3%,
       #FCED00 49.95%,
       #009E4F 49.95%,
       #009E4F 66.6%,
       #00AAC3 66.6%,
       #00AAC3 83.25%,
       #732982 83.25%,
       #732982 100%,
       #E7484F 100%
      
      
      
     );
   animation:slidebg 2s linear infinite;
 }
 
 
 @keyframes slidebg {
   to {
     background-position:20vw;
   }
 }


 @media (min-width: 320px) and (max-width: 480px) {
  .homeOuterContainer {
    height: 100%;
  }
  .chat{
    width: 70%;
    margin-top: 20%;
  }

  .homeInnerContainer {
    width: 90%;
    line-height: 1.3;
  }
 }

 .fade-appear {
  opacity: 0.01;
}

.fade-appear.fade-appear-active {
  opacity: 1;
  transition: opacity 900ms ease-in;
}

